<div id="templatemo_body_wrapper1">
  <div id="templatemo_wrapper">

    <div id="templatemo_header">
    <div id="site_title"><a href="#">Натхнення</a></div>
    <div id="templatemo_menu" class="ddsmoothmenu">
      <ul>
        <li><%=link_to 'Головна' , index_path%></li>
        <li><%= link_to 'Історія' , history_path  %>
          <ul><li><span class="top"></span><span class="bottom"></span></li>
            <li><a href="#submenu1">Sub menu 1</a></li>
          </ul>
        </li>
        <li><%= link_to 'Галерея' , gallery_path %>
          <ul><li><span class="top"></span><span class="bottom"></span></li>
            <li><a href="#submenu1">Sub menu 1</a></li>
          </ul>
        </li>
        <li><a href="blog.html">Розклад </a></li>
        <li><%=link_to 'Контакти' , contact_path%>
          <% if user_signed_in? %>
            <li class="active">  <%= link_to "Вийти", destroy_user_session_path, :method => :delete %> </li>
        <% else %>
            <li class="active"><%= link_to "Увійти", new_user_session_path %> </li>
        <% end %>


      </ul>
    </div>
  </div>

    <div id="templatemo_main">
        <ul id="gallery">
          <li>
            <a href="images/portfolio/01.jpg" rel="lightbox[portfolio]"><%= image_tag ('portfolio/01.jpg')%></a>
            <h4>Phasellus Tempor</h4>
            <p>Please tell your friends about <strong>templatemo.com</strong> website. Thank you. Ut elit massa, accumsan vel dictum quis, tincidunt eget ante. Pellentesque odio turpis, gravida non luctus eu, tincidunt eu odio.</p>
            <a href="#" class="more">DETAIL</a>
          </li>
          <li class="no_margin_right">
            <a href="images/portfolio/02.jpg" rel="lightbox[portfolio]"><%= image_tag ('portfolio/02.jpg')%></a>
            <h4>Quis Suscipit</h4>
            <p>In dictum elit id turpis consequat ut pellentesque urna pretium. Phasellus sollicitudin ullamcorper dolor, sit amet suscipit tincidunt non. </p>
            <a href="#" class="more">DETAIL</a>
          </li>

        </ul>
        <div class="cleaner"></div>
      </div>
    </div>
    <div class="cleaner"></div>
  </div>
</div>

</div>