
<div id="templatemo_main">

  <div id="templatemo_slider">
    <div id="slider-wrapper">
      <ul class="bxslider">
        <%= @sliders.each do |s| %>
            <%= image_tag s.s_img %>
        <%end %>
      </ul>
      <div id="htmlcaption" class="nivo-html-caption">
        <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
      </div>
    </div>
  </div>

  <div class="col col23">
    <h2>Вітаємо Вас на сайті школи танцю "Натхнення"</h2>
    <p><em>Aenean rutrum, velit in tincidunt ullamcorper, augue arcu cursus tortor, a pulvinar urna eros ut dolor. In mollis augue non dolor faucibus et porta magna congue. </em></p>
    <p>Beauty Class is free template provided by templatemo for your personal or commercial websites. Please tell your friends about <strong>templatemo.com</strong> website. Thank you. Vestibulum in mauris id nulla fermentum congue nec vel dolor. Duis ultricies, felis eget ornare adipiscing, erat libero iaculis metus, at suscipit metus erat viverra est. Etiam faucibus aliquet turpis sit amet congue. Praesent at nulla id lectus mattis consequat. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
    <div class="cleaner h40"></div>
    <% @posts.each do |post| %>
        <h3><%= post.post_title %></h3>
        <%= image_tag post.post_img.url , :class => "img_fl img_border" , size: '222x222'  %>
        <p><%=  post.post_body     %></p>
        <%= link_to 'Детальніше' , post_path(post[:id]) %>

        <div class="cleaner h40"></div>

    <%end%>
    <div></div>
    <%= will_paginate @posts  %>
  </div>

  <div class="col col13 no_margin_right">
    <h2>Наші переваги</h2>
    <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut metus arcu, vitae congue purus.</em></p>
    <p>Sed massa lectus, pretium in consequat non, sagittis quis nisl. Aenean quis enim lorem. Cras bibendum magna quis urna dapibus convallis. Sed at lorem elit.</p>
    <ul class="tmo_ul_list">
      <li class="first"><a href="#">Sed eget purus</a></li>
      <li><a href="#">Vestibulum eleifend</a></li>
      <li><a href="#">Nulla odio ipsum</a></li>
      <li><a href="#">Suspendisse posuere</a></li>
      <li><a href="#">Nunc a dui sed</a></li>
      <li><a href="#">Curabitur ac mauris</a></li>
      <li><a href="#">Mauris nulla tortor</a></li>
      <li><a href="#">Nullam ultrices</a></li>
    </ul>
    <div class="cleaner h40"></div>
    <div id="newsletter">
      <script type="text/javascript" src="//vk.com/js/api/openapi.js?137"></script>

      <!-- VK Widget -->
      <div id="vk_groups"></div>
      <script type="text/javascript">
          VK.Widgets.Group("vk_groups", {mode: 3, width: "260"}, 138377332);
      </script>


      <div class="cleaner"></div>
    </div>
  </div>
  <div class="cleaner"></div>

  <div class="cleaner"></div>
</div>
