<div id="templatemo_body_wrapper1">
  <div id="templatemo_wrapper">

    <div id="templatemo_header">
      <div id="site_title"><%= link_to '' , posts_path %></div>
      <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
          <li><%=link_to 'Головна' , posts_path%></li>
          <li><%= link_to 'Історія' , history_path  %></li>
          <li><%= link_to 'Галерея' , galleries_path%></li>
          <li><%= link_to 'Розклад' , timetable_path %></li>
          <li><%=link_to 'Контакти' , contacts_path%>
        </ul>
      </div>
    </div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="cleaner"></div>
</div>
</div>

</div>